/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&display=swap');

/* Variables */
:root {
    /* Fonts */
    --logofont: "Rubik Mono One", serif;
    --headings: "Roboto Mono", serif;
    --textfont: "Nunito", serif;
    /* Colours */
    --primarycolor: #2e8a56;
    --secondcolor: #4cae4f;
}

/* General Styles */
    /* Text */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--headings);
    }

    h1, h2 {
        margin: 1.5rem 0;
    }

    p {
        font-family: var(--textfont);
        text-align: justify;
        hyphens: auto;
    }

    main {
        margin-bottom: 2rem;
    }

    /* Buttons */
    .custonbutton {
        background-color: var(--primarycolor);
        color: #FFF;
        border: 1px solid #000;
    }

    .custonbutton:hover {
        background-color: var(--secondcolor);
        border: 1px solid #000;
    }

    /* Navbar */
    .navbar-brand {
        font-family: var(--logofont);
    }

    nav {
        background-color: var(--primarycolor);
    }

    .navbutton {
        background-color: #FFF;
        color: #000;
        border: 1px solid #000;
    }

    .navbutton:hover {
        background-color: var(--secondcolor);
        border: 1px solid #000;
    }


    /* Footer */

    footer {
        background-color: var(--primarycolor);
        color: #FFF;
        padding: 2rem 0;
        margin-top: 2rem;
    }

    footer a {
        text-decoration: none;
    }

    footer a, footer a:visited {
        color: #FFF;
    }

    footer i {
        width: 40px;
    }

/* Main Page */

    /* Header */
    #hero {
        position: relative;
        height: 250px;
        background: url(../images/headerbackground.webp) no-repeat center center/cover;
    }

    #hero h1 {
        margin: 0;
    }

    #hero-text {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 250px;
        padding: 10px;
        top: 50px;
        right: 30px;
        border-radius: 5px;
    }

    /* Our classes Section */
    #fit-classes .card {
        border: none;
    }

    #fit-classes .card img {
        border-radius: 10px;
    }

    /* Testimonials */
    #testimonials .card {
        border: none;
    }

    #testimonials .card img {
        border-radius: 50%;
        width: 60%;
        margin: auto;
    }

/* Classes Page */
.time-table {
    text-align: center;
    width: 270px;
    margin: auto;
}

/* Join Now Page */

.submitbutton {
    background-color: var(--primarycolor);
    color: #FFF;
    border: 1px solid #000;
    padding-left: 2rem;
    padding-right: 2rem;
}

.submitbutton:hover {
    background-color: var(--secondcolor);
    border: 1px solid #000;
}


/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #hero {
        height: 300px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #hero {
        height: 350px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #hero {
        height: 400px;
    }

    #hero-text {
        top: 100px;
        right: 100px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #hero {
        height: 500px;
    }

    #hero-text {
        top: 100px;
        right: 200px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    #hero {
        height: 600px;
    }

    #hero-text {
        top: 150px;
        right: 200px;
    }

}